<<<<<<< HEAD
.question-card__toggle {
  background: transparent;
  font-size: 0.8rem;
  cursor: pointer;
  line-height: 1;
  transition: transform 0.2s ease;
  /* width: 4rem; */
  color: #000;
  /* border: 1px solid grey; */
  /* position: absolute; */
  right: 1rem;
  top: 1rem;
  text-align: left;
  padding: 1rem 0 1rem 0;
}

.question-card__toggle:hover {
  background: grey;
=======
.toggle-container {
  position: relative;
  margin-bottom: 2rem;
}

.toggle-button {
  border: none;
  background: transparent;
  padding: 0;
  cursor: pointer;
  right: 1rem;
  position: absolute;
  top: 0rem;
}

.toggle-button__track {
  width: 3.5rem;
  height: 2rem;
  padding: 0.2rem;

  display: flex;
  align-items: center;

  border: 2px solid #111;
  border-radius: 999px;
  background: #e5e7eb;

  transition: background-color 0.25s ease;
}

.toggle-button__thumb {
  width: 1.4rem;
  height: 1.4rem;
  border-radius: 50%;
  background: #111;

  transform: translateX(0);
  transition: transform 0.25s ease;
}

/* active state */
.toggle-button.is-active .toggle-button__track {
  background: #c7f9cc;
}

.toggle-button.is-active .toggle-button__thumb {
  transform: translateX(1.4rem);
>>>>>>> 7358ff6751c73ba5982773fc43f8a522a8cedde4
}
