.question-card__wrapper {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 2rem;
  border: 1px solid grey;
  margin: 1rem;
}

.question-card__wrapper h2 {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}
